<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample Multi-page Editor"
            extensions="mpe"
            icon="icons/sample.png"
            contributorClass="ac.york.vml.plugin.editors.MultiPageEditorContributor"
            class="ac.york.vml.plugin.editors.MultiPageEditor"
            id="ac.york.vml.plugin.editors.MultiPageEditor">
      </editor>
   </extension>

</plugin>
