<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ac.york.vml.plugin.editors.VisuDSLEditor" name="VMLEditor" schema="schema/ac.york.vml.plugin.editors.VmlEditior.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="VML Model Viewer"
            extensions="vml"
            icon="icons/sample.png"
            class="ac.york.vml.plugin.editors.VisuDSLEditor"
            id="ac.york.vml.plugin.editors.VisuDSLEditor">
      </editor>
   </extension>
        
</plugin>
