<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vml -->
      <package
            uri="vml"
            class="vml.VmlPackage"
            genModel="vml.genmodel"/>
   </extension>

</plugin>
